/* .navbar container */
html {
    /* background-image: linear-gradient(to right,#b3e3fd, #f2f6f6, #e5eced, #d7e3e3, #cad9da, #bdd0d1);
 */
 background-image: url(../images/cybertechgif.gif);
 background-repeat: no-repeat;
 background-size: cover;

 backface-visibility: visible;

}
/* body img {
background-image: url(detroitcity.jpg); */
#homelogo {
padding: 0px;
}
#fansite {
    margin: 0;
    float: left;
    display: flex;
    margin-top: 16px;
    color: #b3e3fd;
    font-family: "Montserrat", sans-serif;
    text-shadow: 2px 2px 5px #ffff;
}

.navbar {
    overflow: hidden;
    background-color: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: inherit;
    text-align: center;
    text-shadow: 2px 2px 5px #ffff;
    box-shadow: 1px 3px 45px 15px #20335f;
    min-height: fit-content;
}
/* Links inside .navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
    
}

/* search box style */
.navbar input[type=text]{
float: center;
padding: 6px;
border: none;
outline-color: #20335f;
margin-top: 8px;
margin-right: 16px;
font-size: 17px;
font-family: "montserrat", sans-serif;
width: 300px;
text-shadow: 2px 2px 2px #ffff;
}

/* The dropdown container */
.dropdown {
    float: right;
    overflow: hidden;
}

/* Login moved to the right */
#login {
float: right;
padding-bottom: 14px;


}


/* dropdown button */
.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 13px 16px;
    background-color: inherit;
    font-family: "Montserrat", sans-serif;
    margin-right: 35px;
    text-shadow: 2px 2px 5px #ffff;

}

/* navbar hovers */
.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #20335f;
}

/* dropdown hidden */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ce4904;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(28, 36, 105, 0.833);
    z-index: 1;
}

/* links inside dropdown */
.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    text-shadow: 2px 2px 5px #ffff;
}
/* add blue on drop links */
.dropdown-content a:hover {
    background-color: #20335f;
}

/* show drop down */
.dropdown:hover .dropdown-content {
    display: block;
}
/* quote */
#h31{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
font-weight: 300;
color: white;
text-shadow: 2px 2px 2px #20335f;
text-align: right;
padding-top: 1.5em;
}
#h32{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
font-weight: 300;
color: #b3e3fd;
text-shadow: 2px 2px 2px #20335f;
text-align: center;
padding-top: 1.5em;

}
#h33{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
font-weight: 300;
color: #ce4904;
text-shadow: 2px 2px 2px #20335f;
text-align: left;
padding-bottom: 0;
}
/* section1 begins */
.section1 {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    
}
/* kara link */
#box1 a {
text-align: center;
font-family: "montserrat", sans-serif;
color: #20335f;
object-fit: cover;
text-shadow: 2px 2px 5px #ffff;
transition: transform 0.2s ease;
text-decoration-color: #ffff;

}
#box1 img {
     border-bottom-right-radius: 20px;
     border-bottom-left-radius: 15px;
     border-bottom-style: solid;
}
#box1 h2 {
    margin: 0;
}
#box1:hover img {
    transform: scale(1.2);}
/* Connor Link */
#box2 a {
text-align: center;
font-family: "montserrat", sans-serif;
color: #20335f;
object-fit: cover;
text-shadow: 2px 2px 5px #ffff;
transition: width .2s, height .2s;
text-decoration-color: #ffff;
}
#box2 img {
   border-bottom-right-radius: 40px;
   border-bottom-left-radius: 45px;
   border-bottom-style: solid;
}
#box2 h2 {
    margin: 0;
}
#box2:hover img {
    transform: scale(1.2);}
/* Markus Link */
#box3 a {
   text-align: center;
font-family: "montserrat", sans-serif;
color: #20335f;
object-fit: cover;
text-shadow: 2px 2px 5px #ffff;
transition: transform 0.2s ease;
text-decoration-color: #ffff;

}
#box3 img {
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 35px;
    border-bottom-style: solid;
}
#box3 h2 {
    margin: 0;


}
#box3:hover img {
    transform: scale(1.2);
}
/* HR LINE */
hr{
    width: 50%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 5px;
    border-color: #f2f6f6;
    border-radius: 25px;
    box-shadow: 5px 5px 25px 25px #20335f;
transition: color #20335f ease;
    
}
.hrline:hover{
    transition: #b3e3fd;
}
